<div align="center">


<div class="panel panel-default centersoru">
<div class="panel panel-heading">
  <div class="panel-title">Hesabını Düzenle</div>
</div>
<h2 class="panel-title"><%= image_tag @user.image.url(:thumb), class: "resim" %> 

 
</h2>
                                   

 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


<div><%= f.label "Fotoğrafınız" %><br />
  <%= f.file_field :image %></div>


  <div><%= f.label "Eposta" %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label "Şifre" %> <i>(Değiştirmek İstemiyorsan Boş Bırak)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label "Şifre Onay" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label "Halenki Şifreniz"%> <i>(değişiklikleri onaylamak için şuanki şifrenize ihtiyacımız var)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>
<br>
  <div><%= f.submit "Güncelle", class: "btn btn-success" %></div>
<% end %>

<h3>Hesabımı İptal Et</h3>

<p>mutsuz musun? <%= button_to "Hesabımı Sil", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
</div>
<%= link_to "Geri", :back %>
</div>
