 <% unless (user_signed_in? or doctor_signed_in?) %>
 

 

          <div class="jumbotron">
             <div class="container">
               
          <h1>Sağlığınıza yeni bir bakış</h1>
   
            <p>Sadece bir değil birden fazla görüş almak hayatınızı kurtarır. </p>
            <p><a class="btn btn-primary btn-lg" role="button">Davetiye İste</a></p>
            </div>
            </div>

<%end%>

<% if user_signed_in? %>
<%= render 'layouts/leftnav' %>
<div class="col-md-9">
<%end%>


  <div id="pins" class="transitions-enabled">
    
    <% @pins.each do |pin| %>
        <div class="box">
          <ul class="list-group">
            <li class="list-group-item"><h6><span class="glyphicon glyphicon-time"></span><%= " "+time_ago_in_words(pin.created_at) + " ago" %>
    <%= pin.user.name if pin.user.name %><%= " "+"sordu." %></li></h6>


            <li class="list-group-item"><h3><%= pin.description %></h3> </li>
             

              <% if pin.user == current_user %>
          
                <div class="actions">
                  <li class="list-group-item">
                    <%= link_to 'Show', pin %>
                    <%= link_to 'Edit', edit_pin_path(pin) %>
                    <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </li>
                </div>

              <% elsif doctor_signed_in? %>
                  <div class="actions">
                  <li class="list-group-item"><%= link_to 'Answer',pin_path(pin) %> </li>
                  </div>

           
          <% end %>
        </ul>
         </div>
    <% end%>


  </div>

  

</div>
</div>

    
 
 <div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
 </div>
 


