<p id="notice"><%= notice %></p>


<div class="panel panel-default">
	<div class="panel-heading">
		<h2> Sorunuz </h2>
	</div>
	<div class="panel-body">
<p><%= image_tag @pin.image.url(:medium) %></p>
<p>
   
  <%= @pin.description %>
</p>
</div>
</div>
 

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
