 
<%unless @pin.nil? %> 

<div class="col-md-6">
<div class="row">
<%= link_to 'Edit', edit_pin_path(@pin) if (@pin.user==current_user) %> 
<%= link_to 'Tüm Sorular', pins_path %> 
</div>
 
<div class="panel panel-default">
  <div class="container">
  ><%= "Bir üyemiz sordu:" %>
     <h4><%= @pin.description %> </h4>
    
 </div>
</div>
    

 


<div class="col-md-9">
 
  <% if doctor_signed_in? && (@pin.doctor!=current_doctor) %>
     <% a=0 %>
     <% @pin.answers.each do |x| %>
      <% if x.doctor==current_doctor %>
      <% a=a+1 %>
      <% end %>
      <%end%>
   <% if a>=1 %>
   <%= render 'pins/cevapedit' %>
   <% elsif%>

  <%= render 'pins/cevapla' %>
  <%end%>
  <%end%>
 
 

  
<% if user_signed_in? %>
<%= render 'pins/answerboxpin_user' %>
<% elsif doctor_signed_in? %>
 <%= render 'pins/answerboxpin_doctor' %>
 <%end%>
 
</div>
 
 

<%end%>

 
 






