 

<div class="col-md-7">
<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="pull-right"><span class="glyphicon glyphicon-time"></span><%= " "+time_ago_in_words(@pin.created_at) + " ago " %></h6>
    <% if @pin.doctor.nil? %>
    <h4><%= image_tag @pin.user.image.url(:thumb), class: "resim"   %><%= "  "%>
      <%= @pin.user.name %><%= " sordu..." %></h4></div>
      <% elsif @pin.user.nil? %>
<h5><%= image_tag @pin.doctor.image.url(:thumb), class: "resim"   %><%= "  "%>
      <%= @pin.doctor.name %><%= " sordu..." %></h5></div>
      <%end%>


  <div class="panel-body">
	 

    <%= @pin.description %> 
   
  </div>
</div>
</div>
 

<div class="row">
<%= link_to 'Edit', edit_pin_path(@pin) if (@pin.user==current_user) %> 
<%= link_to 'Tüm Sorular', pins_path %> 
</div>


 <div class="row">
<% if user_signed_in? %>
<%= render 'pins/answerboxpin_user' %>
<% elsif doctor_signed_in? %>
 <%= render 'pins/answerboxpin_doctor' %>
 <%end%>
 </div>

 
</div>

<div class="col-md-5">
  <% if doctor_signed_in? && (@pin.doctor!=current_doctor) %>
     <% a=0 %>
     <% @pin.answers.each do |x| %>
      <% if x.doctor==current_doctor %>
      <% a=a+1 %>
      <% end %>
      <%end%>
   <% if a>=1 %>
   <%= render 'pins/cevapedit' %>
   <% elsif%>

  <%= render 'pins/cevapla' %>
  <%end%>
  <%end%>
 
</div>

 
 






