<p id="notice"><%= notice %></p>

 

<div class="col-md-12">


	<ul class="list-group">
		<li class="list-group-item"> Soru </li>
    <li class="list-group-item"><% if @pin.image.file? %><%= image_tag @pin.image.url(:medium)%><%else%><%= "..."%><%end%></li>
    <li class="list-group-item"> <%= @pin.description %></li>
  </ul>


<div class="input-group input-group-lg col-md-12">
      <% if @pin.user != current_user %>
      <% if doctor_signed_in? %>


      <%= form_for @pin.answers.new do |f| %>
             <p><%= "Pin id:" %><%= @pin.id %>
             <%= "Doctor Email:" %><%= current_doctor.email if doctor_signed_in? %></p>
             <%= f.hidden_field :pin_id, :value => @pin.id %>
             <%= f.hidden_field :doctor_id, :value => current_doctor.id %>

             <p><%= f.label "Cevap" %><br>
             <%= f.text_area :description, class: "form-control", rows: "4", maxlength: "200"  %>
             <span class="help-block">En fazla 200 karakter girebilirsiniz</span> 
            </p>
             <p>
             <%= f.label "Resim Yükle" %> 
             <%= f.file_field :image%></p>
             <p>
                                   <%= f.fields_for :topics,f.object.topics.new do |x| %>
                                   <%= x.label :etiket %>
                                   <%= x.text_field :name%>
                                   <% x.hidden_field :answer_id, :value => f.object.id %>
                                   <%end%>

                                    <%= f.fields_for :topics,f.object.topics.new do |x| %>
                                     <%= x.label :etiket %>
                                     <%= x.text_field :name%>
                                     <% x.hidden_field :answer_id, :value => f.object.id %>
                                     <%end%>

                                    <%= f.fields_for :topics,f.object.topics.new do |x| %>
                                     <%= x.label :etiket %>
                                     <%= x.text_field :name%>
                                     <% x.hidden_field :answer_id, :value => f.object.id %>
                                     <%end%>

                                     <%= f.fields_for :topics,f.object.topics.new do |x| %>
                                     <%= x.label :etiket %>
                                     <%= x.text_field :name%>
                                     <% x.hidden_field :answer_id, :value => f.object.id %>
                                     <%end%>
 

               </p>
 
              <div class="actions">
                  <br>
                  <%= f.submit "Cevapla", class: 'btn btn-success' %>
              </div>

      
      <%end%>
      <%end%>
      <%end%>
</div>
</div>
 
 
<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
