 
 

<div class="col-md-7">
<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
    <h5><%= image_tag @pin.user.image.url(:thumb), class: "resimalt" %><%= "  "%>
      <%= @pin.user.name %><%= " sordu..." %></h5></div>
  <div class="panel-body">
	 
    <%= @pin.description %> 
</div>
</div>
</div>

<div class="row">
<%= link_to 'Edit', edit_pin_path(@pin) if (@pin.user==current_user) %> 
<%= link_to 'Tüm Sorular', pins_path %> 
</div>


 <div class="row">
<% if user_signed_in? %>
<%= render 'pins/answerboxpin_user' %>
<% elsif doctor_signed_in? %>
 <%= render 'pins/answerboxpin_doctor' %>
 <%end%>
 </div>

 
</div>

<div class="col-md-5">
<%if doctor_signed_in? %>
<%= render 'pins/cevapla' %>
<%end%>
</div>

 
 






