 
<%unless @pin.nil? %> 

 
 
 <div class="container">
<div class="col-md-5 prela">
  <%= link_to 'Düzenle', edit_pin_path(@pin) if (@pin.user==current_user) %> 
  <%= link_to 'Tüm Sorular', pins_path %> <br><br>
  <ul class="list-group">
  <li class="list-group-item"><%= "Bir üyemiz sordu:" %></li>
  <li class="list-group-item"> <h4><%= @pin.description %> </h4></li>
 
  
 </div></div>
 
 <div class="container">
 <div class="col-md-5">

  <% if doctor_signed_in? && (@pin.doctor!=current_doctor) %>
     <% a=0 %>
     <% @pin.answers.each do |x| %>
      <% if x.doctor==current_doctor %>
      <% a=a+1 %>
      <% end %>
      <%end%>
   <% if a>=1 %>
   <%= render 'pins/cevapedit' %>
   <% elsif%>

  <%= render 'pins/cevapla' %>
  <%end%>
  <%end%>
 
 

  
<% if user_signed_in? %>
<%= render 'pins/answerboxpin_user' %>
<% elsif doctor_signed_in? %>
 <%= render 'pins/answerboxpin_doctor' %>
 <%end%>
 
 
 </div>
  </div>

 </div>

<%end%>

 




