
<div class="panel panel-default">

<div class="panel panel-heading">


<h2>Doktorlar İçin Giriş</h2>
</div>

<div class="panel panel-body">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label "Şifre" %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "Hatırla" %></div>
  <% end -%>

  <div><%= f.submit "Giriş" %></div>
<% end %>
</div>
</div>

<%= render "doctors/shared/links" %>
