
<div class="box2 col-md-5"> 
<div id="pins" class="transitions-enabled">

<% @answers.each do |answer| %>
 
      <ul class="list-group">

<!-- answerbox time ago ve doktor ismi-->
          <li class="list-group-item"><h6><span class="glyphicon glyphicon-time"></span><%= " "+time_ago_in_words(answer.created_at) + " ago" %>

          <%= answer.doctor.email if answer.doctor.email %> <%= link_to " cevapladı.", your_doctor_path(answer.doctor.id) %> </li></h6>

<!-- soru -->
<% if answer.pin.doctor_id.nil? %>
          <li class="list-group-item"><h5><%= image_tag answer.pin.user.image.url(:thumb), class: "resimalt" %><%= "  "%><%= answer.pin.user.name %><%= " sordu..." %></h5>
          <h2 class="prela"><em><%= link_to(answer.pin.description, answer.pin, class: "pin-description" )%></em></h2></li>
<%end%>

<% if answer.pin.user_id.nil? %>

          <li class="list-group-item"><h5><%= image_tag answer.pin.doctor.image.url(:thumb), class: "resimalt" %><%= "  "%><%= answer.pin.doctor.email %><%= " sordu..." %></h5>
          <div id="pin-description"><h2><em><%= link_to(answer.pin.description, answer.pin, class: "pin-description") %></em></h2></div></li>
<%end%>
<!-- cevap table içinde resimle birlikte -->

          <li class="list-group-item"><table><tr><td cellpadding="2"> <% unless answer.photo.nil? %> <%= image_tag answer.photo.image.url(:medium), class: "img-rounded" %><%end%> </td> <td text-align="center"><% if !(answer.description.nil?) %><h4><span class="glyphicon glyphicon-bullhorn"></span>
            <%= answer.description %> </h4><%end%></td></tr></table></li>

<!-- etiketler -->

          <li class="list-group-item"><p>
              <% answer.topics.each do |topic| %>
                <span class="label label-info"><%= topic.name %></span>
              <% end %></p>
          </li>

<!--  thank you butonu-->



<% if (user_signed_in? && !(answer.liked_by?(current_user))) %>
  <li class="list-group-item"><%= link_to "Teşekkür Et", like_answer_path(answer), method: :post , :id=> "mylink" , :remote => true, :class => "btn btn-default" %></li>
  <li class="list-group-item"><h5 class="label label-default"><em><span id="agree"><%= Like.select("liker_id").where(likeable_id: answer.id, likeable_type: "Answer").distinct.count %><%= " "%>doctors agree</span></em></h5></li>



<!--  thanked butonu-->


 <% elsif (user_signed_in? && answer.liked_by?(current_user)) %>
   
  <li class="list-group-item"><h5 class="label label-default"><em><span id="agree"><%= Like.select("liker_id").where(likeable_id: answer.id, likeable_type: "Answer").distinct.count %><%= " "%>doctors agree</span></em></h5></li>





<!-- doktor loginse ve cevaba agree olmamışsa agree butonu ve altına kaç doktor agree olduğu bilgisi -->

        <% elsif (doctor_signed_in? && answer.doctor != current_doctor && !(answer.liked_by?(current_doctor)))%>
                <li class="list-group-item"><%= link_to "Agree", like_answer_path(answer), method: :post , :class => "btn btn-default" , :remote => true, :id=> "mylink" %></li>

                <li class="list-group-item" id="agreement"><span class="label label-default"><%= Like.select("liker_id").where(likeable_id: answer.id, likeable_type: "Answer").distinct.count %><%= " doktor onayladı" %></span></li>

<!-- doktor loginse ve cevaba agree olmışsa AGREED butonu (info yani mavi) ve altına kaç agree olduğu bilgisi-->

                <%elsif doctor_signed_in? && answer.liked_by?(current_doctor)%>

                <li class="list-group-item"><button class="btn btn-info"><span class="glyphicon glyphicon-star"><%= " "%></span>Agreed</button></li>

                 <li class="list-group-item" id="agreement"><span class="label label-default"><%= Like.select("liker_id").where(likeable_id: answer.id, likeable_type: "Answer").distinct.count %><%= " doktor onayladı" %></span></li>






  <%end%>
      
      </ul>
    
      
      <%end%>
  </div>
</div>
