<% if doctor_signed_in? %>

<%= form_for @answer, html: { multipart: true } do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="form-group">
  
    <div class="field">
    <%= f.label "Cevap" %><br>
    <%= f.text_area :description, cols: "40", rows: "10" %>
    </div>

   <div class="form-group">
    <%= f.label "Resim Seçiniz" %><br>
     <%= f.collection_radio_buttons(:photo_id, Photo.all, :id, :image_show)%></div> 
  </div>

  <div class="actions">
    <%= f.submit "Değiştir" %>
  </div>

</ul>
<% end %>
  <% else %>
  <%= link_to "Giriş yapmalısınız", new_doctor_session_path %>
  
  
<% end %>
