 

<div id="pins" class="transitions-enabled">

<% if @answer.description? %>
 
 <div class="box2 col-md-8">
		
<ul class="list-group">

		<li class="list-group-item"><h6><span class="glyphicon glyphicon-time"></span><%= " "+time_ago_in_words(@answer.created_at) + " ago" %>
		<%= @answer.doctor.email if @answer.doctor.email%><%= " "+"cevapladı." %></li></h6>
		 
		<li class="list-group-item"><%= link_to(@answer.pin.description, @answer.pin) %></li>

		<li class="list-group-item"><div class="row"><div class="col-md-4"> <% unless @answer.photo.nil? %><%= image_tag @answer.photo.image.url(:medium), class: "img-rounded" %><%end%> </div> <div class="col-md-8" text-align="center"><span class="glyphicon glyphicon-info-sign"></span>
		  <%= @answer.description %></div></li>

		  <li class="list-group-item">
		  	<% @answer.topics.each do |topic| %>
		  	<%= topic.name %>
		  	<% end %></li>


	<% if (doctor_signed_in? && @answer.doctor != current_doctor && !(@answer.liked_by?(current_doctor)))%>
	<li class="list-group-item"><%= link_to "Agree", like_answer_path(@answer), method: :post , :class => "btn btn-default", :id => 'mylink' , :remote => true %></li>


	<% elsif (doctor_signed_in? && (@answer.liked_by?(current_doctor)))%>

	<li class="list-group-item"><button class="btn btn-default"><span class="glyphicon glyphicon-star"><%= " "%></span>Agreed</button></li>
	 <li class="list-group-item"><%= Like.select("liker_id").where(likeable_id: @answer.id, likeable_type: "Answer").distinct.count%><%= " peers agreed" %></li>

	<% elsif (user_signed_in? && !(@answer.liked_by?(current_user))) %>
	<li class="list-group-item"><%= link_to "Thank", like_answer_path(@answer), method: :post , :id => 'mylink' , :remote => true, class: "btn btn-default" %></li>
   
	<%else%>
	<li class="list-group-item"><%= Like.select("liker_id").where(likeable_id: @answer.id, likeable_type: "Answer", liker_type: "Doctor").distinct.count %><%= " doctors agree" %></li>
	<%end%>


<% if @answer.doctor == current_doctor %>
 
<%= link_to 'Düzenle', edit_answer_path(@answer) %> <br>
<%= link_to 'Tüm cevaplara dön', answers_path %>
 
<%end%>

<% end %>

 </div>
</div>
