<p id="notice"><%= notice %></p>

<% if @answer.description? %>
<div class="panel panel-default">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-time"></span><%= " "+time_ago_in_words(@answer.created_at) + " ago" %>
		<h5><%= @answer.doctor.email if @answer.doctor.email%><%= " "+"cevapladı." %></h5> 
	</div>		
			<div class="panel-body">
<p>
 
  <h3><span class="glyphicon glyphicon-pushpin"></span><%= " "%><%= link_to(@answer.pin.description, @answer.pin) %>
</h3></p>

<p> 

   

	<h3><% if @answer.image.file? %><%= image_tag @answer.image.url(:medium), class: "img-rounded" %> <% else %><%= "" %><%end%> 

 
  <span class="glyphicon glyphicon-info-sign"></span>
  <%= @answer.description %></h3>
</p>



</div>

<div class="panel-footer">
	<p>
<% if (doctor_signed_in? && @answer.doctor != current_doctor && !(@answer.liked_by?(current_doctor)))%>
<%= link_to "Like ", like_answer_path(@answer), method: :post , :class => "btn btn-default" %>

<%elsif doctor_signed_in? && @answer.liked_by?(current_doctor)%>
<button class="btn btn-info"><span class="glyphicon glyphicon-star"><%= " "%></span>Liked</button>
<p><%= Like.select("liker_id").where(likeable_id: @answer.id, likeable_type: "Answer").distinct.count-1 %><%= " more peers liked this answer" %></p>
<%else%>
<p><%= Like.select("liker_id").where(likeable_id: @answer.id, likeable_type: "Answer").distinct.count %><%= " peers liked this answer" %></p>
<%end%>
</p>

<% if @answer.doctor == current_doctor %>
<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>

  <% end %>
<% else %>
<% redirect_to root_path %>
  <%end%>

 </div>
</div>
