
                		  <ul class="list-group">  
                		 	<li class="list-group-item"><strong>Uzmanlık</strong></li>   
                  	  <li class="list-group-item"><%= @doctor.email %></li>   
                  	  </ul>

                      <ul class="list-group">  
                      <li class="list-group-item"><strong>Okulum</strong></li>   
                      <li class="list-group-item">Uzmanlık:<%= @doctor.aop %></li>   
                      </ul>

                      <ul class="list-group">  
                      <li class="list-group-item"><strong>Uzmanlık Alanım</strong></li>   
                      <li class="list-group-item">Uzmanlık:<%= @doctor.aop %></li>   
                      </ul>

                      <ul class="list-group">  
                      <li class="list-group-item"><strong>Kaç senedir çalışıyorum?</strong></li>   
                      <li class="list-group-item">Uzmanlık:<%= @doctor.aop %></li>   
                      </ul>

                      <ul class="list-group">  
                      <li class="list-group-item"><strong>Ödüllerim</strong></li>   
                      <li class="list-group-item">Uzmanlık:<%= @doctor.aop %></li>   
                      </ul>
  		 
    