 
 
<%= render 'layouts/leftnav' %>
 
<div class="col-sm-6">


	<div class="panel panel-default">

		<div class="panel-heading"><h1>Doktor'a Özel Mesaj At</h1></div>
		
		<div class="panel-body">
 
     <% if user_signed_in? %>

		  <ul class="list-group">
      <li class="list-group-item">Doktor İsim: <%= @doctor.name %></li>  
		 	<li class="list-group-item">Doktor Okul: <%= @doctor.okulveyil %></li>   
  	  <li class="list-group-item">Ünvanı:<%= @doctor.aop %></li>   
  	 
  		 
    
   				<% end %>
   		 
 
  		    </li>
  		    
        </ul>

        <%else%>
        <%= link_to "Mesaj" %>

   
      <%end%>

  		</div>


      



    




		</div>


</div>
</div>
 