 
 
<%= render 'layouts/leftnav' %>
 
<div class="col-sm-9">


	<div class="panel panel-default">     
                                  <div class="panel-heading col-md-12">
                                  <div class="row">
                                  
                                   <div class="col-md-12" align="center">
                                      <%= image_tag @doctor.image.url(:thumb), class: "resim" %></div>
                                    </div>
                                    <div class="row">
                                     
                                      <div class="col-md-12" align="center"><h2><%= @doctor.email %></h2><h6> Kardiyolog, İstanbul </h6></div></div>

                                      <div class="row">
                                      <div class="col-md-12 takip" align="center">

                                      <%= Like.select("liker_id").where(likeable_id: @doctor.id, likeable_type: "Doctor").distinct.count %><%= "kişi takip ediyor" %></div></div>

                                    
                                   
                                        

         <% if user_signed_in? %>
         <% unless (@doctor.followed_by?(current_user) && @doctor.liked_by?(current_user) )%>
               <ul class="list-group">
               <div class="row">
               
                <div class="col-md-12" align="center">
                <%= link_to "Follow", follow_doctor_path(@doctor), method: :post , :class => "btn btn-default glyphicon glyphicon-ok-sign" , :remote => true, :id=> "mylink" %>
                 <%= link_to "Recommend", like_doctor_path(@doctor), method: :post , :class => "btn btn-success glyphicon glyphicon-star" , :remote => true, :id=> "mylink2" %> </div></div>

                <div class="row">
                  <div> 

                   


                  </div>
               
              </ul>
      
         <% end %>
  </div>
		
		<div class="panel-body"> 
 
    

           

                		  <ul class="list-group">  
                		 	<li class="list-group-item"><strong>Uzmanlık</strong></li>   
                  	  <li class="list-group-item"><%= @doctor.email %></li>   
                  	  </ul>

                      <ul class="list-group">  
                      <li class="list-group-item"><strong>Okulum</strong></li>   
                      <li class="list-group-item">Uzmanlık:<%= @doctor.aop %></li>   
                      </ul>

                      <ul class="list-group">  
                      <li class="list-group-item"><strong>Uzmanlık Alanım</strong></li>   
                      <li class="list-group-item">Uzmanlık:<%= @doctor.aop %></li>   
                      </ul>

                      <ul class="list-group">  
                      <li class="list-group-item"><strong>Kaç senedir çalışıyorum?</strong></li>   
                      <li class="list-group-item">Uzmanlık:<%= @doctor.aop %></li>   
                      </ul>

                      <ul class="list-group">  
                      <li class="list-group-item"><strong>Ödüllerim</strong></li>   
                      <li class="list-group-item">Uzmanlık:<%= @doctor.aop %></li>   
                      </ul>
  		 
    
   			
   		 
 
  		    
  		    
       

        <%else%>
        <%= link_to "Mesaj" %>

   
      <%end%>

  		</div>


      



    




		</div>


</div>
</div>
 