 
 
 
 
<div class="col-md-6">

<div class="panel panel-default">     

 
                                  <div class="row">
                                  
                                   <div class="col-md-12" align="center">
                                      <%= image_tag @doctor.image.url(:thumb), class: "resim" %></div>
                                    </div>
                                    




                                      <div class="row">
                                     
                                      <div class="col-md-12" align="center"><h2><img src="/assets/docimage.png"><%= @doctor.email %></h2><h6> Kardiyolog, İstanbul </h6></div></div>

                                      
                                      <% if user_signed_in? %>
                                      <div class="row">
                                      <div class="col-md-12 takip" align="center">
                                      <% if !(@doctor.followed_by?(current_user)) %>
                                      <%= Follow.select("follower_id").where(followable_id: @doctor.id, followable_type: "Doctor").distinct.count %><%= " kişi takip ediyor" %></div></div>

                                      <% elsif @doctor.followed_by?(current_user) %>
                                      <%= Follow.select("follower_id").where(followable_id: @doctor.id, followable_type: "Doctor").distinct.count %><%= " kişi takip ediyor, sen dahil..." %></div></div>


                                      <%end%>
                                      <%end%>


                                      <% if doctor_signed_in? %>
                                      <div class="row">
                                      <div class="col-md-12 takip" align="center">
                                      <% if !(@doctor.followed_by?(current_doctor)) %>
                                      <%= Follow.select("follower_id").where(followable_id: @doctor.id, followable_type: "Doctor").distinct.count %><%= " kişi networkünde mevcut!" %></div></div>

                                      <% elsif @doctor.followed_by?(current_doctor) %>
                                      <%= Follow.select("follower_id").where(followable_id: @doctor.id, followable_type: "Doctor").distinct.count %><%= " kişi ile networkü var, sen dahil..." %></div></div>


                                      <%end%>
                                      <%end%>










                                      <br>

                                    

        <!-- FOLLOW AND RECOMMEND BUTTONS FOR USERS -->


      <% if user_signed_in? %>
      <%= render 'doctors/followrecommenduser' %>
      <% elsif doctor_signed_in? %>
     <%= render 'doctors/followrecommenddoctor' %>
      <%end%>
          
  
 
	        <!-- Standart Doktor bilgileri -->

<div class="panel-body">       
<%= render 'doctors/doktorbilgileri' %>
<%= link_to "Mesaj" %>   

</div>


</div>


</div>
</div>
 